.form {
    position: absolute;
    width: 80%;
    height: 70%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.formHeader{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.img{
    width: 64px;
    height: 64px;
}