.container {
  display: flex;
  justify-content: center;
  margin-top: none;
  height: 100%;
  position: relative;
}

.form {
  justify-content: center;
  width: 1100px;
  height: 750px;
  margin-top: none;
  margin: 2em;
  background-color: var(--branco-craro);
  position: absolute;
}

.form h3 {
  font-size: 58px;
  font-family: 'KoHo', sans-serif;
  text-align: center;
  padding: 0.5em;
}


.form input::placeholder {
  color: var(--verde-marromenu);
}


.form .descricao {
  position: absolute;
  left: 300px;
  bottom: 490px;
  width: 580px;
  padding: 2.2em;
  margin: 0.5em;
  margin-left: 5em;
  border: 2px solid var(--verde-marromenu);
  border-radius: 20px;
  background-color: var(--branco-craro);
  font-size: 1.2em;
  box-sizing: border-box;
  color: var(--verde-marromenu);

}

.form .cpf {
  position: absolute;
  bottom: 388px;
  left: 420px;
  display: flexbox;
  width: 460px;
  padding: 1em;
  margin: 0.5em;
  margin-left: 5em;
  border: 2px solid var(--verde-marromenu);
  border-radius: 20px;
  background-color: var(--branco-craro);
  font-size: 1.2em;
  box-sizing: border-box;
  color: var(--verde-marromenu);
}

.form .endereco {
  position: absolute;
  bottom: 300px;
  left: -30px;
  width: 650px;
  padding: 1em;
  margin: 0.5em;
  margin-left: 5em;
  border: 2px solid var(--verde-marromenu);
  border-radius: 20px;
  background-color: var(--branco-craro);
  font-size: 1.2em;
  box-sizing: border-box;
  color: var(--verde-marromenu);
}

.form .number {
  position: absolute;
  left: 680px;
  bottom: 300px;
  width: 200px;
  padding: 1em;
  margin: 0.5em;
  margin-left: 5em;
  border: 2px solid var(--verde-marromenu);
  border-radius: 20px;
  background-color: var(--branco-craro);
  font-size: 1.2em;
  box-sizing: border-box;
  color: var(--verde-marromenu);
}

.form .bairro {
  position: absolute;
  left: -35px;
  bottom: 120px;
  display: flexbox;
  width: 915px;
  padding: 1em;
  margin: 0.5em;
  margin-left: 5em;
  border: 2px solid var(--verde-marromenu);
  border-radius: 20px;
  background-color: var(--branco-craro);
  font-size: 1.2em;
  box-sizing: border-box;
  color: var(--verde-marromenu);
}


.form .complemento {
  position: absolute;
  left: -35px;
  bottom: 213px;
  display: flexbox;
  width: 420px;
  padding: 1em;
  margin: 0.5em;
  margin-top: 1em;
  margin-left: 5em;
  border: 2px solid var(--verde-marromenu);
  border-radius: 20px;
  background-color: var(--branco-craro);
  font-size: 1.2em;
  box-sizing: border-box;
  color: var(--verde-marromenu);
}

.form .referencia {
  position: absolute;
  left: 460px;
  bottom: 213px;
  display: flexbox;
  width: 420px;
  padding: 1em;
  margin: 0.5em;
  margin-top: 1em;
  margin-left: 5em;
  border: 2px solid var(--verde-marromenu);
  border-radius: 20px;
  background-color: var(--branco-craro);
  font-size: 1.2em;
  box-sizing: border-box;
  color: var(--verde-marromenu);
}

.form .button {
  position: absolute;
  left: 190px;
  bottom: 25px;
  padding: 0.4em 10%;
  /* Espaçamento interno */
  background-color: var(--verde-marromenu);
  /* Cor de fundo */
  color: white;
  /* Cor do texto */
  font-size: 1.8em;
  /* Tamanho do texto */
  border: none;
  /* Remove borda padrão */
  border-radius: 20px;
  /* Arredonda os cantos */
  cursor: pointer;
  /* Muda o cursor ao passar sobre o botão */
  text-align: center;
  /* Centraliza o texto dentro do botão */
  transition: background-color 0.3s ease;
  /* Adiciona transição suave para a cor de fundo */
  margin-left: 1em;
}

.button:hover {
  background-color: var(--verde-depressivo);
  /* Cor de fundo ao passar o mouse */
}

.imagem {
  position: absolute;
  top: 37%;
  left: 25%;
}

.form .categoria {
  display: flex;
  position: absolute;
  font-size: 1.6em;
  width: 30%;
  padding: 0.5em;
  top: 59%;
  left: 20%;
  border-radius: 10px;
}


/* Toast.module.css */
.toastContainer {
  /* Customize the container positioning, e.g., bottom-right */
  top: 20px;
  right: 20px;
  z-index: 9999;
}

.toast {
  /* Customize the default toast styling */
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  font-size: 1rem;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.toastSuccess {
  /* Styling for success toasts */
  background-color: #4caf50;
  /* Green */
}

.toastError {
  /* Styling for error toasts */
  background-color: #f44336;
  /* Red */
}