.container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: none;
    height: 100vh; /* Altura do contêiner pai para preencher a tela */
}

.form{
    display: flex;
    flex-direction: column;

    width: 1280px;
    height: 700px;
    margin-top: none;
    margin: 2em ;
    background-color: #fffff7;
    gap: 0.5em;
}

.form .fieldtext{
    display: flexbox;
    width: 41.13%;
    padding: 1em;
    margin: 0.5em;
    margin-left: 5em;
    border: 2px solid #4B8D52;
    border-radius: 20px;
    background-color: #fffff7;
    font-size: 1.2em; 
    box-sizing: border-box;
    color:#4B8D52;
    
}

.form .anothertext{
    display: flexbox;
    width: 88.5%;
    padding: 1em;
    margin: 0.5em;
    margin-left: 5em;
    border: 2px solid #4B8D52;
    border-radius: 20px;
    background-color: #fffff7;
    font-size: 1.2em; 
    box-sizing: border-box;
    color:#4B8D52;
    
}

.form .passwordtext{
    display: flexbox;
    width: 88.5%;
    padding: 1em;
    margin: 0.5em;
    margin-left: 5em;
    border: 2px solid #4B8D52;
    border-radius: 20px;
    background-color: #fffff7;
    font-size: 1.2em; 
    box-sizing: border-box;
    color:#4B8D52;
    
}

.form input::placeholder {
    color: #4B8D52; 
    opacity: 1;
}

.form button {
    padding: 20px; /* Espaçamento interno */
    background-color: #4B8D52; /* Cor de fundo */
    color: white; /* Cor do texto */
    font-size: 1.8em; /* Tamanho do texto */
    border: none; /* Remove borda padrão */
    border-radius: 20px; /* Arredonda os cantos */
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */
    text-align: center; /* Centraliza o texto dentro do botão */
    transition: background-color 0.3s ease; /* Adiciona transição suave para a cor de fundo */
    width: 50%;
    place-self: center;
}

.form button:hover {
    background-color: #45a049; /* Cor de fundo ao passar o mouse */
}

.terms_container {
    margin: 1.1em;
    display: flex;
    flex-direction: row;
    align-self: start;
    align-items: start;
     /* Espaçamento abaixo do checkbox */
}

.checkbox {
    margin-top: 1.1em;
    margin-left: 8em;
    margin-right: 0.5em;/* Espaçamento à direita do checkbox */
    transform: scale(2.5); /* Aumenta o tamanho do checkbox */
    cursor: pointer; /* Muda o cursor ao passar sobre o checkbox */
}

.checkbox_label {
    align-self: start;
    font-size: 2em; /* Tamanho do texto */
    color: #000; /* Cor do texto */
    cursor: pointer; /* Muda o cursor ao passar sobre o texto */
    padding-left: 0.5em; 
}


.form h3{
    font-size: 58px;
    font-family: 'KoHo', sans-serif;
    text-align: center;
    padding: 0.5em;
}

.link {
    margin-top: 1.3em;
    color: #5a5b5c; /* Cor do texto */
    font-size: 1.5em; /* Tamanho da fonte */
    text-decoration: none; /* Remove o sublinhado padrão */
    font-weight: bold; /* Deixa o texto em negrito */
    transition: color 0.3s ease; /* Adiciona uma transição suave para a cor do texto */
}

.link:hover {
    color: #4fac09; /* Cor do texto ao passar o mouse */
    text-decoration: underline; /* Adiciona o sublinhado ao passar o mouse */
}