.cardContainer {
  position: relative;
  background:
    linear-gradient(to bottom, var(--verde-craro) 25%, transparent 25%),
    white;
  display: grid;
  grid-template-columns: 33% 1fr;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 10px;
  border-radius: 10px;
  padding: 9px 5px;
  border: 2px solid var(--verde-craro);
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  cursor: pointer;
  max-height: 200px;
  /* Adjust as needed */
}

.cardContainer:hover {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 6px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  width: 91%;
  height: 92%;
  transition: 0.3s;
}

.imageContainer {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  width: 100%;
  height: 100%;
  border-radius: 5px 20px 5px 20px;
  border: 2px solid var(--verde-craro);
  background-color: var(--branco-craro);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;


  img {
    width: 100%;
    height: 85%;
    object-fit: cover;
  }
}

.infoContainer {
  display: grid;
  grid-template-rows: 20% 1fr;
  width: 100%;
  height: 100%;
  gap: 4px;
}

.infoHeader {
  font-size: 1.5rem;
  font-weight: 600;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.infoBody {
  font-size: 0.9rem;
  color: black;
  width: 100%;
  display: grid;
  grid-template-rows: 75% 1fr;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 10px;
}

.button {
  background-color: var(--verde-craro);
  color: black;
  border: none;
  border-radius: 5px;
  padding: 5px 0px;
  cursor: pointer;
  height: 100%;
  font-size: .9rem;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-weight: 600;
}

.button:hover {
  background-color: var(--verde-musgo);
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.icon {
  padding: 4px 2px;
  background-color: white;
  border-radius: 50%;
}

.categoryContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  height: 100%;
  gap: 10px;
}


.category {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px -50px 36px -28px inset;
  color: var(--verde-marromenu);
  border-radius: 25%;
  padding: 2px 5px;
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  height: 100%;
  max-width: 28px;
  max-height: 28px;
}

.desc {
  font-size: 1rem;
  font-weight: 400;
  word-wrap: break-word;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100px;
  box-sizing: border-box;
}

.headerInfos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
  max-height: 100px;
}

.starsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
  max-height: 10px;
}
