/* Navbar container */
.navbar {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  padding: 0.5em;
  align-items: center;
  width: 100%;
  height: 94px;
  box-sizing: border-box;
}

/* Button styles */
.navbar button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1em;
  padding: 20px;
  width: 100%;
}

/* Logout button hover effect */
.logout:hover {
  background-color: #ff3333;
  color: white;
  box-shadow: rgba(255, 0, 0, 0.2) 0px 2px 1px,
    rgba(255, 0, 0, 0.2) 0px 4px 2px,
    rgba(255, 0, 0, 0.2) 0px 8px 4px,
    rgba(255, 0, 0, 0.2) 0px 16px 8px,
    rgba(255, 0, 0, 0.2) 0px 32px 16px;
}

/* Login button hover effect */
.login:hover {
  background-color: #33ff99;
  color: white;
  box-shadow: rgba(0, 128, 0, 0.2) 0px 2px 1px,
    rgba(0, 128, 0, 0.2) 0px 4px 2px,
    rgba(0, 128, 0, 0.2) 0px 8px 4px,
    rgba(0, 128, 0, 0.2) 0px 16px 8px,
    rgba(0, 128, 0, 0.2) 0px 32px 16px;
}

/* List container */
.list {
  display: flex;
  gap: 20px;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* List item styling */
.item {
  display: flex;
  align-items: center;
  height: 100%;
}

/* Last item alignment */
.item:last-child {
  margin-left: auto;
}

/* Links styling */
.item a {
  color: #000;
  text-decoration: none;
  font-family: 'KoHo', sans-serif;
  font-size: 1.5em;
  padding: 0 10px;
}

/* Active link styling */
.item a.active {
  color: white;
  background-color: #4B8D52;
  padding: 20px;
  border-radius: 10px;
  font-weight: bold;
  border-bottom: 2px solid #4B8D52;
}

/* Hover effect for all links */
.item a:hover {
  color: #4B8D52;
  font-weight: bold;
}

/* Ensure active link maintains its styling on hover */
.item a.active:hover {
  color: #ffffff;
  background-color: #4B8D52;
}

/* Menu links styling */
.menu a {
  margin-top: 10px;
  margin-right: 1em;
  color: #000;
  text-decoration: none;
  font-family: 'KoHo', sans-serif;
  font-size: 1.5em;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.menu a:hover {
  color: #4B8D52;
}
