.container {
    display: flex;
    flex-direction: row;
    background-color: var(--verde-marromenu);

    /* padding-bottom: 10px; */
    background-color: #4B8D52;
    margin: 0;
    padding: 0;
    position: relative;
    height: 530px;
    max-height: 530px;
    flex-direction: row;
    display: flex;
}

.text {
    position: relative;
    color: white;
    font-family: 'KoHo', sans-serif;
    text-align: center;
    font-size: clamp(20px, 3vw, 48px);
}

.info {
    position: relative;
    color: white;
    font-family: 'KoHo', sans-serif;
    text-align: center;
    font-size: clamp(15px, 3vw, 32px);
    margin-bottom: 40px;
}

.button {
    color: #4B8D52;
    font-family: 'KoHo', sans-serif;
    text-decoration: none;
    text-align: center;
    font-size: clamp(12px, 3vw, 30px);
    /* Font size ajustável conforme a resolução */
    margin-left: 2vw;
    /* Margem que se ajusta à largura da viewport */
    padding: clamp(5px, 1vw, 10px) clamp(10px, 2vw, 20px);
    /* Padding que diminui junto com a tela */
    background-color: white;
    border-radius: 20px;
}

.img {
    width: 55%;
    max-width: 100%;
    height: 100%;
    position: absolute;
}

.div_img {
    right: 142px;
}

.div_text {
    position: relative;
    width: 50%;
    height: 100%;
    display: block;
}

.div_button {
    position: absolute;
    display: flex;
    /* Necessário para usar flexbox */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* Para garantir que os botões fiquem centralizados */
    bottom: 20px;
    /* Ou ajuste conforme necessário */
}