.container{
    display: flex;
    flex-direction: row;
    background-color: var(--verde-marromenu);
    /* padding-bottom: 10px; */
}

.text{
    color:white;
    font-family:'KoHo', sans-serif;
    text-align: center;
    font-size: 48px;
}

.info{
    color: white;
    font-family:'KoHo', sans-serif;
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;

}

.button{
    color: var(--verde-marromenu);
    font-family:'KoHo', sans-serif;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    margin-left: 1em;
    background-color: white;
    border-radius: 20px;
}

