div {
    position: relative;
    flex-direction: column;
    justify-content: baseline;
}

.infos {
    display: flex;
    justify-content: baseline;
    flex-direction: row;
    margin-right: 50px;
    position: absolute;
    gap: 10px;
    height: 100%;
    padding-left: 50px;
    padding-top: 30px;
    flex-wrap: nowrap;
}

.picture_div {
    position: relative;
    flex-direction: row;
    justify-content: baseline;
    height: 168px;
    width: 70%;
}

.infos h1 {
    margin-top: 40px;
    flex-wrap: nowrap;
}

.hr {
    width: 90%;
    right: 20px;
}

.picture {
    width: 1800px;
    height: 168px;
    max-width: 100%;
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: row;
    /* position: relative;
    left: 150px;
    top: -30px; */
}

.img {
    width: 150px;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
    margin-bottom: 80px;
}

.picture h1 {
    color: var(--verde-marromenu);
    font-size: clamp(10px, 2vw, 50px);
}